
#lvTasks {
    width: 450px;
}


#lvTasks .win-container {
    width: 300px;
}

#lvTasks .taskItem {
    padding: 10px;
    border: solid 1px white;
}

#listViewLoading {
    position: absolute;
    z-index: 999;
    font-size: 18px;
    font-style: italic;
}

