
#lvTasks {
    width: 500px;
}


.win-itemcontainer {
    width: 400px;
}


.taskItem {
    padding: 10px;
    border: solid 1px white;
}

#listViewLoading {
    position: absolute;
    z-index: 999;
    font-size: 18px;
    font-style: italic;
}
