

@media screen and (min-width:500px) {
    .homepage section[role=main] {
        margin-left: 120px;
        margin-right: 120px;
    }
}            




#inputTaskName {
    width: 400px;
    height: 100px;
}



#lvMyTasks .taskItem {
    color:black;
    width: 300px;
    height: 100px;
    overflow-y: auto;
    border: solid 2px black;
    background-color:white;
    padding:10px;
}


#lvMyTasks .win-container {
    margin: 10px;
    box-shadow: 5px 5px #004340;
}



.win-appbar {
    background-color: #1d7471;
}

